body {
    background: url('../img/pokebg.png') no-repeat center top;
    background-size: cover;
}

a {
    cursor: pointer;
}

a:hover img {
    filter: brightness(85%);
}

#navbar-primary img {
    max-width: 200px;
}

.carousel .carousel-item {
    max-height: 275px;
    width: auto;
}

.carousel .carousel-item img {
    opacity: .5;
}

.carousel-indicators {
    bottom: 0;
}

.main-content {
    background-color: rgba(255, 255, 255, .8);
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}